body {
    font-family: 'Georama', sans-serif;
    @apply bg-white relative;
    main{
        @apply pt-[200px]
    }
}

.menu-heading-h3{
  @apply text-lg tracking-[1.35px] text-[#96225D] mb-[12px] uppercase relative after:absolute after:top-[40px] after:left-0 after:w-[30px] after:h-[2px] after:bg-[#96225D]
}

nav.menu-navbar{background-color: rgba(71, 32, 62, 0.80);}
.container {
    max-width: 1350px !important;
    @apply mx-auto px-[15px]
}

p{
    @apply text-[18px]
}

.mega-menu-link > a{
    @apply p-[10px] block relative;
    :hover{
        @apply after:w-[100%] after:h-[2px] after:bg-[#96225D] after:absolute after:top-[100%] after:left-0 after:z-10
    }
}

ul li .widget_block, ul li .wp-block-image{
    @apply mb-0
}
ul li .wp-block-image{
    @apply mr-[10px]
}

p.topbar-text{
    @apply text-[14px]
}
.menu-main-menu-container li a{
    @apply p-[10px] block
}
.menu-main-menu-container li .sub-menu a{
    @apply text-[#241822]
}
.menu-main-menu-container li.has-mega-menu > ul.sub-menu{
    @apply px-[25px] py-[40px] rounded-br-[100px] !shadow-xl;
    
}
.menu-main-menu-container li.has-mega-menu > ul.sub-menu li.menu-item-has-children{
  @apply border-l-2 border-[#ddd] pl-7;
  &:first-child{
    @apply border-l-0 pl-0
  }
}
.wishlist_products_counter{
    @apply relative;
}
.wishlist_products_counter_number{
    @apply absolute top-[-16px] right-[-3px] w-[17px] h-[17px] rounded-full bg-[#96225D] text-[10px] text-white flex justify-center items-center
}
a.wishlist_products_counter.top_wishlist-custom img{
    width: 24px !important;
    @apply h-[24px] max-w-[24px] max-h-[24px]
}
.mini-cart-img img{
    @apply w-[140px] h-[140px] object-cover rounded-tl-[25px]
}
.mini-cart ul.product-list li:last-child{
    @apply border-b-0
}

#miniOverlay.mini-cart-active{
    @apply w-[100%] h-[100%]  block fixed left-0 top-0 z-[9999];
    background-color: rgba(74, 62, 74, 0.7);
  }

/* scrollbar css */
.mini-cart .product-list{
    ::-webkit-scrollbar { width: 10px; border-radius: 10px; }
    ::-webkit-scrollbar-track { background: #f1f1f1; }
    ::-webkit-scrollbar-thumb { background: #96225D; border-radius: 10px; }
    ::-webkit-scrollbar-thumb:hover { background: #555; }
  }

  body .tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-custom.no-txt, body .tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-custom.no-txt img{
    width: 24px !important;
    @apply h-[24px] max-w-[24px] max-h-[24px]
  }
  .tinv-wraper.tinv-wishlist{
    @apply flex justify-center items-center
  }


.bg-dark-purple-rgba{background-color: rgba(150, 34, 93, 0.8); }
.mega-menu-link:hover .pa-mega-menu{@apply grid;}
.pa-hero-content-col{background: rgba(201 168 189 / 40%);}
.pa-button{
  @apply bg-[#96225D] rounded-tl-[25px] text-white text-[18px] py-[17px] px-[60px] font-[300] no-underline transition-all inline-block leading-[1.2] hover:rounded-br-[25px] hover:rounded-none
}

.heading-h4{
    @apply text-[#96225D] text-[22px] tracking-[1.65px] mt-[20px] mb-[6px]
}

.heading-h3{
    @apply text-[#96225D] text-[22px] tracking-[1.65px] mb-[80px] relative after:absolute after:w-[2px] after:h-[30px] after:bg-[#96225D] after:left-[50%] after:translate-x-[-50%] after:top-[45px]
}

.heading-h2{
    @apply text-[#241822] text-[46px] tracking-[1.65px] mb-[50px] leading-[1.3em] font-[300]
}

.img-fluid{
    @apply max-w-[100%] h-auto
}

.owl-carousel .owl-nav{
  @apply !block
}

.hero-section .owl-carousel .owl-nav{
  @apply !hidden
}
body{
  .pa-latest-products-section .owl-carousel{
  .owl-prev{ @apply rotate-[180deg] absolute top-[50%] left-[-70px] }
  .owl-next{ @apply absolute top-[50%] right-[-70px] }
  
  .owl-carousel{
    .owl-dots{@apply flex justify-center items-center gap-[20px] mt-[50px]}
    .owl-dot{
      @apply w-[10px] h-[10px] rounded-[3px] !border !border-[#9F9E9F] !border-solid;
      &.active{
        @apply w-[14px] h-[14px] bg-[#9F9E9F]
      }
    }
  }
  }
  .testimonial-carousel .owl-carousel{
    .owl-prev{
      @apply rotate-[180deg] absolute top-[50%] left-0;
    }
    .owl-next{
      @apply absolute top-[50%] right-0
    }
  }
  .product-slider-section .owl-nav{
    @apply !hidden
  }
}
.owl-carousel {
  .owl-prev span, .owl-next span{ 
    @apply text-[0];
  }
}

/* body .owl-carousel .owl-nav button{background: url(../assets/images/arrow-right-nav.png) no-repeat !important; width: 50px; height: 50px; background-size: 100% !important; opacity: 0.4;} */

body .owl-carousel .owl-nav button:focus{opacity: 1;}

.subscribe-btn{
    @apply bg-[#96225D] rounded-tl-[25px] rounded-none text-white text-[18px] p-[14px] max-w-[240px] w-[100%] transition-all inline-block border-0 ml-[-22px] font-[300] hover:rounded-br-[25px] hover:rounded-none relative
}
.subscribe-field{
    @apply h-[55px] bg-[#603C57] rounded-none border-0 p-[20px] max-w-[395px] w-[100%] text-[14px] text-[#ffffff] font-[300] focus:outline-none
}

/* .subscribe-form{
    @apply flex justify-center
} */

.subscribe-form .wpcf7-form-control-wrap{
  @apply w-full max-w-[395px]
}
.pa-shop-product-search button[type="submit"]{
  @apply text-[0px] bg-[url('../assets/images/search-icon-svg.svg')] bg-no-repeat w-6 h-6;
}

.testimonial-section .testimonial-carousel{
  .owl-item:nth-child(odd){ border-radius: 150px 0 0 0; }
  .owl-item:nth-child(even){ border-radius: 0 150px 0 0; }
  .owl-item{
    @apply border border-[#AA90A4] border-solid shadow-[0px_6px_60px_0px_#f9f8f9] py-[50px] px-[35px];
    img{
      @apply !w-auto mt-0 mx-auto mb-[20px];
    }
  }
  .item{
    @apply text-center;
    h4{
      @apply text-[#96225D] text-[22px] tracking-[2.2px] font-[400]
    }
    h6{
      @apply text-[#AA90A4] text-[14px] font-[400] mb-[15px]
    }
    p{
      @apply text-[#4A3E4A] font-[400] tracking-[1.6]
    }
  }
}

.footer{background-size: 500px;}
footer .subscribe-btn{
  @apply max-w-[194px]
}
footer input[type="email"]{
  @apply bg-[#5B5259] placeholder:text-[#F9F8F9]
}
.product-carousel .owl-carousel{
  .owl-stage-outer{
    @apply h-[100%]
  }
  .owl-stage{
    @apply h-[100%]
  }
  .owl-item{
    @apply h-[100%];
    .item{
      @apply h-[100%]
    }
    img{
      @apply h-[100%] object-cover
    }
  }
  .owl-dot{
    @apply w-[10px] h-[10px] rounded-[3px] m-[10px] border border-white border-solid;
    &.active{
      @apply bg-[#ffffff]
    }
  }
  .owl-dots{
    @apply absolute bottom-[20px] left-[40%] translate-x-[-50%]
  }
}
.product-tools-li{
    @apply text-[22px] text-[#47203E] mb-[15px] relative pl-[20px] font-[400] transition-all hover:text-[#96225D]
    before:absolute before:left-0 before:top-[9px] before:w-[8px] before:h-[8px] before:bg-[#96225D] before:rounded-tl-[3px] before:rounded-none
}

.rotate-lines li{
    @apply w-[30px] h-[100%] text-[0]
}
.rotate-lines li:nth-child(1){
    @apply bg-[#d3c2cf] opacity-[0.5]
}
.rotate-lines li:nth-child(2){
    @apply bg-[#c9a8bd]
}
.rotate-lines li:nth-child(3){
    @apply bg-[#dcb8cb]
}
.rotate-lines li:nth-child(4){
    @apply bg-[#e9d5e0]
}


.footer{
  background-position: left -113px bottom -60px;
  .social-icons li a:hover img{filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1%) hue-rotate(310deg) brightness(102%) contrast(101%);}
}

.has-mega-menu > .sub-menu{
    @apply grid-cols-4 hidden w-[100%] left-0 top-[100%] bg-white
}
.has-mega-menu:hover > .sub-menu{
    @apply grid absolute
}
.mega-menu-column > a{
    @apply text-[18px] text-[#96225D] tracking-[1.35px]
}
/* .mega-menu-column h2{
    @apply text-[18px] text-[#96225D] tracking-1.35px relative uppercase after:bg-[#96225D] after:w-[30px] after:h-[1px] after:top-[100%] after:left-0 after:absolute
} */

.best-product-col .add_to_cart_inline, .trending-product-col .add_to_cart_inline{
  @apply !border-0 !p-0;
  del{ @apply hidden}
  ins{@apply hidden}
  .add_to_cart_button{
    @apply bg-dark-purple-rgba text-[14px] font-[400] text-white px-[15px] py-[13px] max-w-[226px] w-[100%] justify-center m-auto flex rounded-none
  }
  .added_to_cart{
    @apply bg-dark-purple-rgba text-[14px] font-[400] text-white px-[15px] py-[13px] max-w-[226px] w-[100%] justify-center m-auto flex rounded-none mt-4
  }
}

.woocommerce ul.products li.product{
  @apply mr-[40px] mb-[50px];
  a img{
    @apply h-[300px] object-cover rounded-tl-[50px]
  }
  &.last{
    @apply mr-[0]
  }
}
 
.woocommerce-products-header__title.page-title{
  @apply text-[50px] text-center font-light py-[30px]
}

.mini-cart.mini-active{
  @apply right-0
}

html, body{
  overflow-x: unset !important;
  /* min-height: 100vh; */
  height: 100%;
}
footer{
  position: sticky;
  top: 100vh;
}







.single-product-accordion input[type="radio"] {
  @apply absolute opacity-0 z-[-1]
  
}

.single-product-accordion .row {
  @apply flex
}
.single-product-accordion .row .col {
  @apply flex-1
  
}
/* .single-product-accordion .row .col:last-child {
  @apply ml-[]
  margin-left: 1em;
} */

/* Accordion styles */
.single-product-accordion .tabs {
  @apply overflow-hidden ;
}

.single-product-accordion .tab {
  @apply !border-b !border-solid w-[100%] text-[#fff] overflow-hidden;
}
.single-product-accordion .tab-label {
  @apply  text-[#96225D] font-[400] flex justify-between p-[16px] cursor-pointer;
}
/* .single-product-accordion .tab-label:hover {
  background: #1a252f;
} */
.single-product-accordion .tab-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.single-product-accordion .tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  transition: all 0.35s;
}
.single-product-accordion .tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  
  cursor: pointer;
}
.single-product-accordion .tab-close:hover {
  background: #1a252f;
}

/* .single-product-accordion input:checked + .tab-label {
  background: #1a252f;
} */
.single-product-accordion input[type="radio"]:checked + .tab-label::after {
  transform: rotate(90deg);
}
.single-product-accordion input[type="radio"]:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}
.single-product-accordion input[type="search"]{
  @apply  border border-[#ccc] px-4 py-3 static z-0 opacity-100 focus:outline-none max-w-lg w-full
}





.comment_container .avatar{
 @apply hidden
}
.woocommerce #reviews #comments ol.commentlist li .comment-text{
  @apply ml-0
}



input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

/* .related.products ul.products{
  @apply flex
} */



body .\!max-w-screen-md{
  @apply !max-w-[100%]
}

.woocommerce-cart main{
  @apply !pt-14
}

.woocommerce-page .entry-header h1.entry-title{
  /* @apply text-center font-300 text-[#241822] */
  text-align: center; font-weight: 300; color: #241822;
}

.cart-page {
  .product-thumbnail img{
    @apply w-[186px] h-[188px] object-cover;
  }
  h4.product-name{
    @apply text-[22px]
  }
}

.hidden {
  display: none;
}



/* .home-blog-col{
  img{
    @apply h-[255px]
  }
} */





.single-post article h2{
  @apply text-[22px] font-semibold;
}
.single-post .social-post-sidebar{
  @apply border-t border-b border-[#c8c8c8]
}
.single-post .social-post-sidebar span{
  @apply mr-5;
}

.single-post .social-post-sidebar .wp-block-social-links .wp-block-social-link{
  @apply bg-transparent text-[#aa90a4] 
}
/* .single-post .social-post-sidebar .wp-block-social-links:not(.is-style-logos-only) .wp-social-link-facebook{
  @apply bg-transparent text-[#aa90a4] 
} */
.single-post .social-post-sidebar .widget_block{
  @apply mb-0
}
.single-post-sidebar label{
  @apply hidden
}
.single-post-sidebar h2{
  @apply text-[22px] text-[#96225d] tracking-[2.2px] mb-[15px] uppercase mt-12;
}
.single-post-sidebar input[type="search"]{
  @apply border-t-0 border-l-0 border-r-0 border-b border-[#241822] focus:outline-none;
}
.single-post-sidebar .wp-block-search__inside-wrapper{
  @apply relative 
} 
.single-post-sidebar .wp-block-search__inside-wrapper [type="submit"]{
  @apply absolute bg-[url(../assets/images/search-icon.svg)] bg-no-repeat p-0 w-[24px] h-[24px] bg-contain text-[0] right-0 top-[7px]; 
}
.single-post-sidebar .popular-posts ul.wpp-list li{
  @apply relative pl-[20px];
}
.single-post-sidebar .popular-posts ul.wpp-list li:before{
  @apply content-[''] absolute left-0 top-[9px] w-[8px] h-[8px] rounded-none rounded-tl-[3px] bg-[#96225d];
}
.full-width-blog .blog-content{
  @apply absolute bottom-10 left-24
}
.full-width-blog .blog-content p{
  @apply hidden
}
.full-width-blog img{
  @apply rounded-tl-[100px] rounded-tr-[100px] h-[360px] 
}
.full-width-blog .post-feature-img{
  @apply relative before:absolute before:bg-[url('../assets/images/bg-overlay.png')] before:bg-cover before:w-full before:h-full
}
.full-width-blog .blog-content h4{
  @apply text-white mb-10
}
.full-width-blog .read-more{
  @apply bg-[#96225D] text-sm text-white px-8 py-3 no-underline
}
.woocommerce-breadcrumb{
  @apply text-[#AA90A4]
}
.woocommerce-breadcrumb a{
  @apply text-[#E8E1E6] 
}

/* shop page css */
body.woocommerce.woocommerce-shop .products .product .add_to_cart_button{
  @apply absolute top-[200px] left-[50%] translate-x-[-50%] hidden text-sm text-white py-3 px-4 max-w-[220px] w-full bg-[rgba(150,34,93,0.8)] text-center rounded-none
}
body.woocommerce.woocommerce-shop .products .product:hover .add_to_cart_button{
  @apply block
}
body.woocommerce.woocommerce-shop ul.products li.product .woocommerce-loop-product__title{
  @apply text-[22px] text-[#96225D] uppercase tracking-[2.2px] font-normal
}
body.woocommerce.woocommerce-shop ul.products li.product .price{
  @apply flex flex-row-reverse justify-end
}
body.woocommerce.woocommerce-shop ul.products li.product .price del span{
  @apply text-[18px] text-[#AA90A4] font-normal
}
body.woocommerce.woocommerce-shop ul.products li.product .price ins span{
  @apply text-[18px] text-[#47203E] no-underline font-normal
}
body.woocommerce.woocommerce-shop ul.products li.product .price ins{
  @apply mr-[10px]
}
/* body.woocommerce.woocommerce-shop #primary{
  @apply pt-48
} */
body.woocommerce.woocommerce-shop h1.entry-title{
  @apply  relative mt-40 before:absolute before:left-[50%] before:top-[-40px] before:w-[2px] before:h-[30px] before:translate-x-[-50%] before:bg-[#96225D]
}
body .show-now-product .owl-carousel .owl-prev{
  @apply rotate-[180deg] absolute top-[50%] left-0;
}
body .show-now-product .owl-carousel .owl-next{
  @apply absolute top-[50%] right-0
}


/* cart page css */
.cart-page .product-thumbnail img{
  @apply rounded-tl-[30px]
}
.cart-page .product-quantity{
  @apply flex items-center 
}
.cart-page .quantity{
  @apply border border-[#AA90A4] px-4 py-2 ml-3
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{
  @apply w-full
}
.woocommerce table.shop_table{
  @apply border-none
}
.woocommerce a.remove{
  @apply bg-[url(../assets/images/Icon_material-delete.svg)] bg-no-repeat text-[0] w-[20px] h-[20px] bg-contain rounded-none
}
.woocommerce a.remove:hover{
  @apply bg-[url(../assets/images/Icon_material-delete.svg)] bg-no-repeat text-[0] w-[20px] h-[20px] bg-contain rounded-none bg-transparent
}
/* .pa-cart-page-2 .woocommerce-cart-form .inner-cart-form{
  @apply max-h-[850px] overflow-y-auto
} */
.pa-cart-page-2 .cart-page:last-child{
  @apply border-b-0
}
.pa-cart-page-2 .screen-reader-text.coupon-code-label{
  @apply w-auto h-auto overflow-auto m-auto top-0 left-0 text-lg text-[#241822];
  clip-path: unset;
  clip: unset;  
}
/* .woocommerce .ced h2{
  @apply hidden
} */
.related.products > h2{
  @apply hidden
}
.recently-viewed-section{
  @apply mb-52
}
.recently-viewed-section ul.products{
  @apply flex gap-10
}
.recently-viewed-section ul.products li.product {
  @apply float-none !mr-0 !w-full
}
.recently-viewed-section .ced > h2{
  @apply hidden
}

.recently-viewed-section ul.products::before, .recently-viewed-section ul.products::after{
  @apply hidden
}
.inverse::before{
  @apply bg-[#F9F8F9]
}
.full-bleed::before{
  box-shadow: 0 0 0 100vmax #F9F8F9;
  clip-path: inset(0 -100vmax);
}
.product-ratings-reviews-section::before{
  @apply bg-[#F9F8F9]
}
.product-ratings-reviews-section::before{
  content: '';
  box-shadow: 0 0 0 100vmax #F9F8F9;
  clip-path: inset(0 -100vmax);
}

.woocommerce .testimonial-carousel .item img{
  @apply w-[60px] h-[60px]
}
/* body .owl-carousel .owl-nav button{background: url(../assets/images/arrow-right-nav.png) no-repeat !important; width: 50px; height: 50px; background-size: 100% !important; opacity: 0.4;} */

body .owl-carousel .owl-nav button{
  @apply !bg-[url('../assets/images/arrow-right-nav.png')] bg-no-repeat w-[50px] h-[50px] bg-[100%] opacity-[0.4];
}
body.woocommerce div.product form.cart div.quantity{
  @apply float-none
}
.heateor_sss_svg{
  background: none !important;
  @apply !bg-transparent !bg-center !rounded-none !bg-no-repeat !w-[23px] !h-[16px] !bg-contain !flex items-center justify-center
}
.heateor_sss_svg svg{
  @apply !hidden
}
.heateor_sss_facebook .heateor_sss_svg{
  @apply !bg-[url(../assets/images/Icon_awesome-facebook-f.svg)]  
}
.heateor_sss_button_instagram .heateor_sss_svg{
  @apply !bg-[url(../assets/images/Icon_ionic-logo-instagram.svg)]
}
.heateor_sss_button_twitter .heateor_sss_svg{
  @apply !bg-[url(../assets/images/Icon_ionic-logo-twitter.svg)]
}
.heateor_sss_sharing_container{
  @apply flex items-center gap-5 py-3 border-y border-[#C8C8C8] mt-8
}
.heateor_sss_sharing_title{
  @apply text-[#AA90A4] !font-light
}
.heateor_sss_sharing_ul{
  @apply flex gap-6
}
body.woocommerce div.product form.cart div.quantity{
  @apply px-3 py-1 ml-5
}
body.single-product.woocommerce .add-to-cart.button{
  @apply text-lg text-[#AA90A4] font-normal text-center w-full rounded-tl-[25px] rounded-none p-3 !border-2 border-solid !border-[#AA90A4] bg-transparent
}

body.single-product.woocommerce .buy-now{
  @apply text-lg text-[#FFFFFF] font-normal text-center w-full rounded-tl-[25px] rounded-none p-3 !border-2 border-solid !border-[#96225D] bg-[#96225D] mt-5
}
body.single-product.woocommerce .cart{
  @apply mt-9
}
body.single-product.woocommerce .woocommerce-product-rating{
  @apply flex gap-[10px] ml-[-10px]
}
body.single-product.woocommerce .woocommerce-product-rating .woocommerce-review-link{
  @apply border-l-2 border-[#AA90A4] leading-[1em] pl-[10px]
}
body.single-product.woocommerce .woocommerce-product-rating .star-rating{
  @apply !m-0
}
body.single-product.woocommerce .price{
  @apply my-5 !flex flex-row-reverse justify-end
}
body.single-product.woocommerce .woocommerce-product-details__short-description p{
  @apply text-[#AA90A4]
}
body.single-product.woocommerce .price ins{
  @apply no-underline
}
body.single-product.woocommerce .price ins span{
  @apply text-[#47203E] text-[22px] font-normal
}
body.single-product.woocommerce .price del span{
  @apply text-[#AA90A4] text-lg ml-[10px] font-normal
}

.woocommerce #reviews #comments ol.commentlist li .comment-text{
  @apply bg-white rounded-tl-[50px] rounded-none p-10 pb-3
}

.woocommerce ul.products.columns-3 li.product, .woocommerce-page ul.products.columns-3 li.product{
  @apply m-0
}
.related.products ul.products{
  @apply grid grid-cols-3 gap-10
}
.related.products ul.products li.product{
  @apply w-full m-0
}
.related.products ul.products::before, .related.products ul.products::after{
  @apply hidden
}
#review_form_wrapper{
  @apply hidden
}
.single-product .woo-product-gallery-slider.woocommerce-product-gallery{
  @apply flex !w-[60%] justify-between gap-10 flex-row-reverse
}
.woo-product-gallery-slider.woocommerce-product-gallery img.attachment-shop_single{
  @apply !h-[500px] object-cover
}
.woo-product-gallery-slider.woocommerce-product-gallery img.wpgs-thumb-main-image{
  @apply !w-[74px] !h-[74px] object-cover rounded-tl-[25px] rounded-none
}
.woo-product-gallery-slider.woocommerce-product-gallery img.attachment-thumbnail.size-thumbnail{
  @apply w-[74px] h-[74px] object-cover rounded-tl-[25px] rounded-none
}
.woo-product-gallery-slider.woocommerce-product-gallery .wpgs-for{
  @apply w-[84%] 
}
.woo-product-gallery-slider.woocommerce-product-gallery .wpgs-nav .slick-slide{
  @apply !w-[74px] h-[74px] rounded-tl-[25px] rounded-none mt-0 mb-12
}
.woo-product-gallery-slider.woocommerce-product-gallery .wpgs-nav{
  @apply w-full max-w-[84px]
}

.single-product div.product.type-product{
  @apply flex justify-between gap-10 pt-12 pb-24
}
.single-product div.product.type-product .onsale{
  @apply hidden
}
.single-product .summary.entry-summary{
  @apply !float-none !w-[40%]
}
.single-product main.site-main .woocommerce-breadcrumb{
  @apply container
}
.single-product .product_meta{
  @apply hidden
}
.outer-breadcrumb .woocommerce{
  @apply hidden
}

.woocommerce-shop .shop_wc_products ul.products{
  @apply grid grid-cols-3 gap-x-10 gap-y-10;
}
.woocommerce-shop .shop_wc_products ul.products::before{
  @apply hidden
}
.woocommerce-shop .shop_wc_products ul.products::after{
  @apply hidden
}
.woocommerce.woocommerce-shop .shop_wc_products ul.products li.product{
  @apply w-full mr-0 mb-0
}
.grey-color{
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(5946%) hue-rotate(191deg) brightness(71%) contrast(140%);
}
/* .black-color{
  filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(14%) hue-rotate(273deg) brightness(99%) contrast(104%);
} */
.view-button-active{
  filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(14%) hue-rotate(273deg) brightness(99%) contrast(104%);
}

/* shop page css start*/
.pa-shop-product-search form{
  @apply flex items-center
}
.pa-shop-product-search form input{
  @apply w-full h-[60px] focus:outline-none p-4
}
.pa-shop-product-search form input{
  @apply placeholder:text-[0px]
}
.pa-products-views .woocommerce-ordering{
  @apply mb-0
}
.trending-product-section ul.products{
  @apply grid grid-cols-4 gap-10
}
.trending-product-section ul.products::after{
  @apply hidden
}
.trending-product-section ul.products::before{
  @apply hidden
}
.trending-product-section ul.products li.product{
  @apply !w-full !m-0
}
.trending-product-section .woocommerce .ced > h2{
  @apply hidden
}
.woocommerce-pagination{
  @apply mb-20
}
.woocommerce-shop .woocommerce-products-header__title.page-title{
  @apply hidden
}
body .wpc-filters-range-inputs .ui-slider-horizontal .ui-slider-range {
  @apply bg-[#96225D]
}
body .wpc-filters-range-inputs .ui-slider-horizontal .ui-slider-handle{
  @apply bg-[#AA90A4]
}
body .wpc-filters-range-max{
  @apply text-right
}
body .widget-title.wpc-filter-title{
  @apply text-xl
}

body .woocommerce-mini-cart__buttons a{
  @apply !bg-[#96225D] !text-white !rounded-tl-[25px] !py-[15px] !px-[37px] !text-[14px] !mr-[15px] hover:!rounded-br-[25px] hover:!rounded-none transition-all inline-block !mt-4 !font-light
}
body .woocommerce-mini-cart.cart_list.product_list_widget{
  @apply pr-7
}
body .woocommerce-mini-cart.cart_list.product_list_widget .woocommerce-mini-cart-item.mini_cart_item a.remove{
  @apply bg-[url(../assets/images/delete-svgrepo-com.svg)] w-[25px] h-[25px] text-[0px] rounded-none bg-contain bg-no-repeat
}
/* shop page css end*/


/* contact page css */
.contact-form .form-group-row{
  @apply flex gap-10
}
.contact-form .form-group-row .form-group{
  @apply w-[50%] mb-5
}
.contact-form .form-control{
  @apply w-full h-[55px] border-2 border-[#AA90A4] px-5 py-3
}
.contact-form .form-control::placeholder{
  @apply text-sm text-[#AA90A4]
}
.contact-form .textarea-control{
  @apply h-[150px] w-full mt-5 mb-10 border-2 border-[#AA90A4] px-5 py-3
}
.contact-form .submit-btn{
  @apply w-full p-4 bg-[#96225D] rounded-tl-[25px] text-white cursor-pointer
}

/* gt translate css */
.gt_selector{
  @apply bg-[#241822] text-white
}
.gt_selector:focus{
  @apply outline-none
}
.gt_selector option[selected]{
  @apply text-white
}
.gt_selector option{
  @apply !text-[#fff]
}

/* my account page css */
.woocommerce form .show-password-input::after, .woocommerce-page form .show-password-input::after{
  content: 'Show';
  
}
.home header{
  @apply absolute
}
.woocommerce-account .entry-header{
  @apply hidden
}
.col2-set{
  @apply max-w-[864px]
}

.woocommerce-account .woocommerce-Input{
  
    height: 55px;
    width: 100%;
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgb(170 144 164 / var(--tw-border-opacity));
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

}
body.woocommerce-account .woocommerce-form-login__submit{
  @apply bg-[#96225D] rounded-none rounded-tl-[25px] w-full p-3 text-lg text-white font-light mt-5
}
body.woocommerce-account .woocommerce-LostPassword{
  @apply text-right 
}
body.woocommerce-account .woocommerce-LostPassword a{
  @apply text-sm text-[#AA90A4] underline
}
body.woocommerce-account .woocommerce-form-register, body.woocommerce-account .woocommerce-form-login{
  @apply border-0 p-0 m-0
}
body.woocommerce-account .woocommerce-form-register label, body.woocommerce-account .woocommerce-form-login label{
  @apply !text-lg
}
#newAccountBtn{
  @apply p-3
}
.new-member{
  @apply p-10
}
.new-member p{
  @apply mb-4
}
.new-member ul li{
  @apply mb-1
}
body.woocommerce-account .woocommerce-MyAccount-navigation {
  @apply max-w-[300px] w-full bg-[#F9F8F9] p-10
}
body.woocommerce-account .woocommerce-MyAccount-navigation ul li {
  @apply mb-7
}
/* body.woocommerce{
  @apply flex justify-between gap-10
} */
.woocommerce-MyAccount-navigation-link{
  @apply text-[#AA90A4]
}
.woocommerce-MyAccount-navigation-link.is-active{
  @apply text-[#47203E]
}
body.woocommerce-account .woocommerce-address-fields__field-wrapper{
  @apply grid grid-cols-2
}
body.woocommerce-account #billing_address_2_field, body.woocommerce-account #shipping_address_2_field{
  @apply mt-[36px]
}
body.woocommerce-account #billing_first_name_field, body.woocommerce-account #billing_last_name_field, body.woocommerce-account #shipping_first_name_field, body.woocommerce-account #shipping_last_name_field{
  @apply w-full
}
body.woocommerce-account .woocommerce-MyAccount-content h3{
  @apply text-3xl mb-5
}

/* currency swithcer */
.selectron23{
  @apply !w-[106px]
}
.selectron23-option img{
  @apply hidden
}
body .selectron23-container .selectron23-option{
  @apply !bg-[#241822] p-0
}
body .selectron23-option div{
  @apply flex text-white
}
body .selectron23-container{
  @apply border-0 top-[5px]
}
body .selectron23-option-text{
  @apply !hidden
}
body .selectron23-option-title{
  @apply font-normal
}
body .selectron23-container[data-opened="0"] > span{
  @apply bg-[url('../assets/images/down.svg')] border-0 w-4 h-4 !top-0 bg-no-repeat;
  background-size: 7px; background-position: center center;
}
body .selectron23-container[data-opened="1"] > span{
  @apply border-0
}
.selectron23-container > span{
  @apply !right-0
}

.is-hidden { display: none; }

/* checkout page css */
.woocommerce-billing-fields__field-wrapper{
  @apply grid grid-cols-2 gap-9
}
body.woocommerce-checkout .col-1{
  @apply !w-full !float-none
}
body.woocommerce-checkout .col-2{
  @apply !w-full !float-none
}
body.woocommerce-checkout .col-2{
  @apply !w-full !float-none
}
/* body.woocommerce-checkout input.input-text, body.woocommerce-checkout textarea, .select2-container--default .select2-selection--single{
  @apply !border-2 !border-[#AA90A4] !px-4 !px-3 !h-14
} */
body .form-row input.input-text, body .form-row textarea, .select2-container--default .select2-selection--single, body .form-row .woocommerce-input-wrapper select{
  @apply !border-2 !border-[#AA90A4] !px-4 !px-3 !h-14
}
body.woocommerce-checkout .form-row{
  @apply w-full
}
.blog-page-col{
  display:none;
}
.all-category-wrapper.category-show{
  @apply block top-16
}
.all-category-wrapper.category-show.mini-cart-active{
  @apply hidden
}
.woocs-lds-ellipsis{
  @apply !hidden
}




.tax-product_cat.woocommerce ul.products{
  @apply grid grid-cols-3 gap-x-10 gap-y-10;
} 
.tax-product_cat.woocommerce ul.products::before{
  @apply hidden
}
.tax-product_cat.woocommerce ul.products::after{
  @apply hidden
}
.tax-product_cat.woocommerce ul.products li.product{
  @apply w-full m-0
} 

.gtranslate_wrapper{
  @apply absolute top-[6px]
}
.gt_switcher{
  @apply !w-[106px];
  .gt_selected a{
      @apply !w-[106px] !border-0 !p-0;
  }
 .gt_option a{
  @apply !text-sm;
  &:hover{
    @apply !text-[#241822];  
  }
}
}
/* .gt_switcher .gt_option a:hover{
  @apply !text-[#241822];
} */

/* mobile menu css */
#mobile-menu.show-menu{
  @apply block absolute w-full bg-white top-[111px] left-0 right-0 transition-all
}
.mobile-header .menu-main-menu-container li a{
  @apply text-[#241822]
}
#mobile-menu.hide-menu{
  @apply hidden
}
.mobile-product-search.search-show{
  @apply block transition-all
}







@media(max-width: 1440px){
  .pa-latest-products-section .owl-carousel{
    @apply px-24
  }
  body .pa-latest-products-section .owl-carousel .owl-prev{
    @apply !left-0
  }
  body .pa-latest-products-section .owl-carousel .owl-next{
    @apply !right-0
  }
}
@media(max-width: 1024px){
  .desktop-header{
   @apply hidden   
  }
  .selectron23{
    @apply !w-[70px]
  }
  footer .subscribe-form p {
    @apply !justify-start
  }
  .trending-product-section ul.products{
    @apply grid-cols-3
  }
  .hero-section .item{
    @apply pt-[200px] pb-[100px]
  }
  .best-seller-section .best-seller-title{
    @apply pr-0 text-center
  }
  .best-seller-section .heading-h2{
    @apply pl-0 border-0 pb-0 mb-5
  }
  
  .best-seller-section .best-seller-product{
    @apply pl-0 border-0
  }
  .best-seller-section .container{
    @apply flex-col
  }
  .pa-latest-products-section{
    @apply py-[50px]
  }
  .trending-product-section{
    @apply pt-[40px] pb-[20px]
  }
  .best-seller-title{
    @apply !w-full
  }
  .best-seller-section .best-seller-product{
    @apply p-0 bg-none
  }
  body .product-slider-wrap{
    @apply flex-col
  }
  body .product-carousel{
    @apply w-full max-w-full h-auto
  }
  body .rotate-lines{
    @apply rotate-90 top-0 hidden
  }
  body .rotate-lines li{
    @apply w-5
  }
  body .product-slider-content-wrap{
    @apply w-full
  }
  body .product-carousel .owl-carousel{
    @apply h-auto
  }
  body .product-carousel .owl-carousel .owl-stage-outer{
    @apply h-auto
  }
  body .product-carousel .owl-carousel .owl-stage{
    @apply h-auto
  }
  body .product-carousel .owl-carousel .owl-item{
    @apply h-auto
  }
  body .product-carousel .owl-carousel .owl-item .item{
    @apply h-auto
  }
  body .product-carousel .owl-carousel .owl-item .item img{
    @apply h-96
  }
  body .pa-latest-products-section{
    @apply py-10
  }
  body .owl-carousel .owl-nav button{
    @apply w-8 h-8 !bg-contain
  }
  body .pa-latest-products-section .owl-carousel{
    @apply px-12
  }
}

@media(max-width: 767px){
  .best-seller-section h3{
    @apply text-lg
  }
  .trending-product-section{
    @apply !py-[40px]
  }
  body p{
    @apply text-[15px]
  }
  .trending-product-section ul.products{
    @apply grid-cols-2
  }
  .home-newsletter-section .home-newsletter-row{
    background-size: 100%;
  }
  .best-seller-section .best-seller-product{
    @apply grid-cols-2 gap-y-[40px]
  }
  .home-blog-row{
    @apply !grid-cols-2
  }
  .pa-latest-products-section .full-product img{
    @apply h-[450px]
  }
  .pa-latest-products-section .product-details img{
    @apply h-[180px]
  }
  .special-product-row{
    @apply !grid-cols-1 gap-10
  }
  .special-product-col{
    @apply h-[420px]
  }
  body .testimonial-section .testimonial-carousel .owl-item{
    @apply py-[30px] px-[20px] 
  }
  body .pa-hero-content-col h1{
    @apply text-3xl
  }
  body .pa-hero-content-col h2{
    @apply text-lg
  }
  body .heading-h3{
    @apply text-lg mb-[30px]
  }
  body .heading-h3::after{
    @apply top-[30px] h-[15px]
  }
  body .heading-h2{
    @apply text-3xl mb-[30px]
  }
  body .product-content-wrap h2{
    @apply text-3xl
  }
  body .product-tools-li{
    @apply text-lg
  }
  .hero-section .item{
    @apply pt-[150px] pb-[45px]
  }
  body .pa-hero-content-col{
    @apply py-10
  }
  body .home-blog-section{
    @apply pt-[50px]
  }
  .subscribe-form p{
    @apply flex-col
  }
  body .subscribe-btn{
    @apply ml-0 w-full max-w-full
  }
  body .subscribe-field, .subscribe-form .wpcf7-form-control-wrap{
    @apply max-w-full
  }
  body .product-slider-content-wrap{
    @apply pl-5 pr-5
  }
  
}

@media(max-width: 600px){
  .trending-product-section ul.products{
    @apply grid-cols-1
  }
  .home-blog-row{
    @apply !grid-cols-1
  }
  .best-seller-section .best-seller-product{
    @apply grid-cols-1
  }
  body .product-img-wrap{
    @apply hidden
  }
  body .latest-product-full-width{
    @apply w-full
  }
}